.wrapper {
  direction: rtl;
  position: relative;
  display: flex;
  width: 80%;
  font-size: 16px;
  .inter {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
  }
  .container {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0;
    font-size: smaller;
    &__title {
      direction: ltr;
      line-height: 15px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      &__name {
        line-height: 1px;
      }
      &__price {
        line-height: 1px;

        .transparent {
          opacity: 0.5;
        }
      }
    }
  }
}
